$color_body = #222222;
$color_dark-grey = #666666;
$color_dark-grey-2 = #C4C4C4;
$color_grey = #dddddd;
$color_light-grey = #F2F2F2;
$color_white = #FFFFFF;
$color_accent-active = #FFCC66;
$color_picked = #FFDD99;
$color_on-hover = #FFEECC;
$color_succes = #6CD858;
$color_error = #FF533D;

.color_body {
    color: $color_body;
}

.color_dark-grey {
    color: $color_dark-grey;
}

.color_dark-grey-2 {
    color: $color_dark-grey-2;
}

.color_grey {
    color: $color_grey;
}

.color_light-grey {
    color: $color_light-grey;
}

.color_white {
    color: $color_white;
}

.color_accent-active {
    color: $color_accent-active;
}

.color_picked {
    color: $color_picked;
}

.color_on-hover {
    color: $color_on-hover;
}

.color_succes {
    color: $color_succes;
}

.color_error {
    color: $color_error;
}
