.link_big {
    @extend .font_h2;
    color: $color_body;
    text-decoration: none;
    letter-spacing: -0.02em;

    &:hover {
        text-decoration-line: underline;
    }

    &-d-none {
        display: none;
    }
}

.link_small {
    @extend .font_caption-m-light;
    color: $color_body;
    text-decoration: none;
    letter-spacing: -0.02em;

    &:hover {
        text-decoration-line: underline;
    }

    &-d-none {
        display: none;
    }
}
