@require 'colors';

// @require 'fonts';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    // min-width: 100vh
}

.flex {
    display: flex;
}

.main-container {
    min-width: 100vh;
}

.side-panel&.flex {
    width: 80px;
}

.side-panel {
    // width: 80px;
    background-color: $color_light-grey;
    border-right: 1px solid $color_grey;
}

.side-panel__container {
    flex-direction: column;
    margin: 0 auto;
}

.side-panel__logo {
    display: block;
    width: 48px;
    height: 48px;
    margin-top: 6px;
}

.side-panel__line {
    border-top: 1px solid $color_grey;
    margin-top: 5px;
    width: 48px;
    height: 1px;
}

.side-panel__icons-container {
    padding-top: 17px;
    flex-direction: column;
    margin-bottom: auto;

    >a {
        display: block;
        margin-bottom: 12px;
    }
}

.side-panel__icon-container-bottom {
    flex-direction: column;

    >a {
        display: block;
        margin-bottom: 20px;
    }
}

.side-panel__icon {
    align-self: center;
}

.right-side {
    background-color: $color_white;
}

.right-side&.main-container {
    width: 100%;
}

.header {
    background-color: $color_light-grey;
    border-bottom: 1px solid $color_grey;
}

.header&.right-side {
    min-width: 1286px;
    height: 60px;
}

.header__title {
    // padding-top: 20px
    margin-right: auto;
}

.header__small-icon-container {
    display: flex;
    height: 20px;
    padding-right: 10px;

    >a {
        width: 20px;
        height: 20px;
        margin-right: 24px;
    }
}

.header__container {
    padding-left: 28px;
    padding-top: 20px;
}

.btn-area&.right-side {
    height: 38px;
    margin-left: 28px;
    margin-top: 28px;
}

.btn-area {
    >button {
        margin-right: 16px;
    }
}

.main&.flex {
    min-width: 1286px;
}

.main&.market-content {
    width: 50%;
    margin-left: 28px;
    margin-top: 28px;
}

.market-content {
    background: $color_white;
}

.market-content__title {
    // width: 100%
}

.market-content__container {
    // display: flex
    flex-direction: column;
    flex-wrap: wrap;
    height: 1096px;
    margin-top: 24px;
}

.m-card&.market-content {
    width: 52%;
}

// .m-card {

// }
.m-card__title {
    margin-bottom: 16px;
}

.m-card__list {
    list-style: none;
}

.m-card__list-item {
    margin-bottom: 12px;
}

.business-dev&.main
    width: 50%;
    margin-left: 28px;
    margin-top: 28px;
    margin-right: 34px;

.business-dev {
    background: $color_white;
}

.b-card&.business__container    {
    margin-bottom: 20px;
}


.b-card {
    // display: flex;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    &:hover {
        background-color: $color_white;
        border: 1px solid #DDDDDD;
    }
}

.business__container {
    // flex-direction: column
    // flex-wrap: wrap
    margin-top: 25px;
}

.b-card__icon-side {
    width: 14%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.b-card__icon {
    // margin-left: 24px
    margin-top: 24px;
}

.b-card__text-side {
    width: 75%;
}

.b-card__title {
    margin-top: 24px;
    margin-bottom: 8px;
}

.b-card__button {
    margin-top: 16px;
    margin-bottom: 24px;
    background-image: url('../images/icon-external-link.svg');
}

.footer&.right-side 
    min-width: 1286px;
    height: 60px;

.footer {
    background-color: $color_light-grey;
    border-top: 1px solid $color_grey;
}

.footer__container {
    padding-left: 28px;
    padding-top: 20px;
    padding-right: 34px;
    justify-content: space-between;
}

.footer__info {
    >a {
        padding-left: 12px;
    }
}
